<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>
<body>

<script>

$(document).ready(function(){

	$('#ML Task').on('change', function(){
	   console.log($('#ML Task').val());
		$('#glassWidth').html('');
		if($('#ML Task').val()==1){
			$('#glassWidth').append('<option value="Linear SVM">Linear SVM</option>');
			$('#glassWidth').append('<option value="Logestic Regression">Logestic Regression</option>')
		}else{
			$('#glassWidth').append('<option value="3">K-means</option>');
			$('#glassWidth').append('<option value="4l">Gaussion Mixture Model</option>');

		}
	});


});
</script>
<br>ML Task<br>
	<select id="ML Task">
	  <option value="1">Classification</option>
	  <option value="2">Clustering</option>
	</select>


	<br>Glass Width<br>
		<select id="glassWidth">
			<option value="Linear SVM">Linear SVM</option>
		  	<option value="Logestic Regression">Logestic Regression</option>

		</select>



</body>
</html>
