<title>Reusable Form Demo2</title>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
                    {% for message in messages %}
 	<li>{{ message[1] }}</li>
{% endfor %}</ul>
{% endif %}
{% endwith %}
<form action="" method="post">
            {{ form.csrf }}
<div class="input text">
                {{ form.name.label }} {{ form.name }}</div>

<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
<div class="input submit">
                <input type="submit" value="Submit"></div>


</form>